/* ===== Conteúdo Principal ===== */
.main {
  flex: 1;
  padding: 30px;
  background: #181818;
  overflow-y: auto;
}


/* ===== Layout Geral ===== */
body {
  margin: 0;
  padding: 100;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
  display: flex;
}

.FotoPerfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;  /* deixa a foto redonda */
  object-fit: cover;
  
}


/* ===== Sidebar ===== */
.sidebar {
  position: relative;       /* necessário para os botões colarem no fundo */
  width: 250px;
  height: 100vh;
  background: #000;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}




.sidebar h3 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #bbbbbb93;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;   /* empurra os botões pro final */
}

.sidebar ul li {
  margin-bottom: 12px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.sidebar ul li:hover {
  color: rgb(206, 71, 255);
}


/* ===== Planos (Free / Basic / Premium) ===== */
.planos {
  position: absolute;
  bottom: 20px;  /* fixa no rodapé da sidebar */
  left: 20px;
  right: 20px;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  padding: 10px;
  cursor: pointer;
  color: #999;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.radio-container label:hover {
  background: #222;
}

.radio-container input[type="radio"]:checked + label {
  color: rgb(118, 28, 169);
  font-weight: bold;
  background: linear-gradient(to right, #222, #444);
}



/* ===== Barra de pesquisa no topo ===== */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  margin-bottom: 30px;     /* espaço abaixo da barra */
}

.input-Pesquisa {
  position: relative;
  width: 300px;
}

.styled_input_bar {
  width: 90%;
  padding: 1em;
  font-size: 1em;
  border: 0.1em solid rgb(176, 94, 234);
  border-radius: 2em;
  background-color: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.styled_input_bar::placeholder {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.styled_input_bar:focus {
  border-color: rgb(177, 89, 239);
}

.styled_input_bar:focus::placeholder {
  color: transparent;
}

.input-label {
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.styled_input_bar:focus + .input-label,
.styled_input_bar:not(:placeholder-shown) + .input-label {
  top: 0.1em;
  left: 1em;
  font-size: 0.8em;
  color: white;
  background-color: #181818; /* mesmo bg do .main */
  padding: 0 0.5em;
}

.styled_input_bar:not(:focus):not(:placeholder-shown) + .input-label {
  color: grey;
}

.TopCantores{
 margin-top: 80px;
 margin-bottom: -20px;
}

/* lista de cantores */
.lista-cantores {
  margin-bottom: 100px;
  margin-top: 40px;
  display: flex;
  gap: 23px;           /* espaço entre os cantores */
}

.cantor {
  text-align: center;
}

.cantor img {
  width: 200px;
  height: 200px;
  border-radius: 50%;  /* deixa a foto redonda */
  object-fit: cover;
}

.swiper-slide{
display: flex!important;
gap: 30px;
}


 /*footer = parte final do site */

.footer {
  width: 100%;
  background-color: #000; /* mesma cor da sidebar */
  height: 300px;
  color: #fff;
  padding: 20px 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 70px;
  max-width: 12000px;
  margin: auto;
}

.footer-col h3 {
  font-size: 19px;  /* títulos maiores */
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a,
.footer-col p,
.footer-col a {
  font-size: 18px; 
  line-height: 1.6;
  color: #ccc;
  text-decoration: none;
  
}

.footer-col ul li a:hover,
.footer-col a:hover {
  color: #a855f7;
   /* hoover roxo */
}

.payments img {
  width: 50px; 
  margin-right: 12px;
  vertical-align: middle;
}

.social a img {
  width: 48px;
  margin-right: 10px;
   
}

